* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
  display: flex;
  height: 100vh;
  width: 100vw;
}

button {
  border: none;
  color: #d4d4d2;
}

.calculator {
  height: auto;
  margin: 0 auto;
  width: 300px;
}

.wrapper {
  background: #505050;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  height: inherit;
  justify-content: space-between;
  padding: 12px;
}

.display {
  background-color: #d4d4d2;
  display: flex;
  flex-direction: column;
  padding: 8px;
}

.display-main {
  font-family: monospace;
  font-size: 56px;
  height: 60px;
  text-align: end;
}

.display-secondary {
  height: 36px;
}

.controls-edit {
  display: flex;
  gap: 16px;
  margin: 10px 0px;
}

.controls-math {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(4, 1fr);
}

.operate,
.equals,
.clear {
  background-color: #ff9500;
  color: #1c1c1c;
}

.clear,
.delete {
  flex-grow: 1;
  padding: 6.5px 0;
}

.number,
.delete {
  background-color: #1c1c1c;
  color: #d4d4d2;
}

#zero {
  grid-column: -5 / -3;
}
